---
layout: default
title: In memory of William E. Harmon, M.D.
---
<div
    class="banner is-visible"
    id="app-banner">
  <div
      class="banner-body"
      id="app-banner-body">
    <div class="banner-body__preface">
      In memory of
    </div>

    <hr class="space-32">

    <h1
        class="banner-body__name"
        id="app-banner-title">
      William E. Harmon, M.D.
    </h1>
    <hr class="space-32">
    <hr class="title-line">

    <hr class="space-32">

    <div class="banner-body__dates">
      July&nbsp;31,&nbsp;1943 &mdash; May&nbsp;29,&nbsp;2016
    </div>
  </div>

  <!-- Banner navigation -->
  {% include banner-nav.html %}
</div>

<!-- Visit -->
<section id="visit">
  <div class="section-body">
    <h2>Visit</h2>
    <hr class="space-32">
    <hr class="title-line">
    <hr class="space-32">

    <p class="text-large">
      The family of Dr. Harmon will be hosting memorial visitation hours
      at their residence on <em>Tuesday May 31st from 7pm and 9pm</em>
      and <em>Wednesday June 1st from 7pm to 9pm</em>.
      Address provided upon email request.
    </p>
  </div>
</section>

<!-- Donations -->
<section id="donations">
  <div class="section-body">
    <h2>Donate</h2>
    <hr class="space-32">
    <hr class="title-line">
    <hr class="space-32">

    <p class="text-large">
      In lieu of flowers, Dr. Harmon's family requests contributions to be made in his honor to the
      <a href="http://fundraise.childrenshospital.org/goto/WilliamHarmon">The Dr. William Harmon Tribute Fund</a>.
      Proceeds will go to the <a href="http://www.childrenshospital.org/centers-and-services/division-of-nephrology">Division of Nephrology at Boston Children's Hospital</a> 
      for Kidney Transplant Clinical Research.
    </p>

    <hr class="space-32">

    <p class="text-large text-center">
      <a href="http://fundraise.childrenshospital.org/goto/WilliamHarmon">Donate to The Dr. William Harmon Tribute Fund <i class="material-icons">keyboard_arrow_right</i></a>
    </p>
  </div>
</section>

<!-- Pictures -->
<section
    id="pictures"
    class="section-pictures">
  <div class="section-body section-body--wide clearfix">
    <h2>Pictures</h2>
    <hr class="space-32">
    <hr class="title-line">
    <hr class="space-32">

    {% comment %}
      The data for the following for-loop is in _data/pictures.yml
    {% endcomment %}
    {% for picture in site.data.pictures %}
      <div class="section-pictures__layout">
        <a
            href="{{ picture.url }}"
            class="section-pictures__frame"
            style="background-image: url('{{ picture.image }}');">
        </a>
      </div>
    {% endfor %}

    <hr class="space-24">

    <p class="text-large text-center">
      <a href="https://goo.gl/photos/F1sUK4r2zwpdmRC8A">
        View more pictures in the album
        <i class="material-icons">keyboard_arrow_right</i>
      </a>
    </p>

    <hr class="space-32">

    <p style="max-width: 600px; margin: 0 auto;">
      If you have more pictures of Dr. Harmon that you would like to share,
      please send it to
      <a href="mailto:williamharmonmd@gmail.com">williamharmonmd@gmail.com</a>.
      We will add them to the album for others to see.
    </p>
  </div>
</section>

<!-- Stories -->
<section id="stories">
  <div class="section-body">
    <h2>Stories</h2>
    <hr class="space-32">
    <hr class="title-line">
    <hr class="space-32">

    <p class="text-large">
      If you would like to share stories about Dr. Harmon
      or send thoughts and prayers to Dr. Harmon's family,
      please send them to
      <a href="mailto:williamharmonmd@gmail.com">williamharmonmd@gmail.com</a>.
      We will post them on this website
      unless requested otherwise.
    </p>

    <hr class="space-32">

    <p class="text-large text-center">
      <a href="/stories.html#stories">
        View stories
        <i class="material-icons">keyboard_arrow_right</i>
      </a>
    </p>

  </div>
</section>

<!-- Comments -->
{% include fb-comments.html %}
