---
layout: default
title: "In memory of William E. Harmon, M.D.: Stories, letters, and quotes"
---
<div
    class="banner is-visible"
    id="app-banner">
  <div
      class="banner-body"
      id="app-banner-body">
    <div class="banner-body__preface">
      In memory of
    </div>

    <hr class="space-32">

    <h1
        class="banner-body__name"
        id="app-banner-title">
      William E. Harmon, M.D.
    </h1>
    <hr class="space-32">
    <hr class="title-line">

    <hr class="space-32">

    <div class="banner-body__dates">
      Stories, letters, and quotes
    </div>
  </div>

  <!-- Banner navigation -->
  <div
      class="banner-nav"
      id="app-banner-nav">
    <div
        class="banner-menu"
        id="app-banner-menu">
      {% include nav-links.html %}
    </div>
    <div
        class="banner-menu--on-phone"
        id="app-banner-menu--on-phone">
      <a
          href="javascript:void(0);"
          id="app-banner-menu__toggle">
        <i
            class="material-icons"
            style="font-size: 32px;">menu</i>
      </a>
    </div>
  </div>
</div>

<!-- Stories -->
<section id="stories">
  <div class="section-body">
    <h2>Stories, letters, &amp; quotes</h2>
    <hr class="space-32">
    <hr class="title-line">
    <hr class="space-32">

    <p class="text-large">
      These are stories and letters shared by family and friends of Dr. Harmon.
      We also included some quotes that Dr. Harmon often said.
    </p>

    <hr class="space-32">

    <p>
      If you would like to share stories about Dr. Harmon
      or send thoughts and prayers to Dr. Harmon's family,
      please send them to
      <a href="mailto:williamharmonmd@gmail.com">williamharmonmd@gmail.com</a>.
      We will post them on this website unless requested otherwise.
    </p>
  </div>
</section>

{% for story in site.stories %}
  <section>
    <div class="section-body">
      <hr class="title-line">
      <hr class="space-32">

      {{ story.content }}
    </div>
  </section>
{% endfor %}

<!-- Quotes -->
<section id="quotes">
  <div class="section-body">
    <h2>Quotes</h2>
    <hr class="space-32">
    <hr class="title-line">
    <hr class="space-32">

    <p class="text-center text-large">
      Some quotes that Dr. Harmon often said
    </p>
  </div>
</section>

{% comment %}
  The data for the following for-loop is in _data/quotes.csv
{% endcomment %}
{% for quote in site.data.quotes %}
  <section>
    <div class="section-body section-body--wide">
      <hr class="title-line">
      <hr class="space-32">

      <p class="text-larger text-center">
        {{ quote.quote }}
      </p>
    </div>
  </section>
{% endfor %}

<!-- Comments -->
{% include fb-comments.html %}
