// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;

$color-navy: #000032;
$color-white: #FFF;
$color-red: #9C2401;
$color-light-blue: #497CB3;

$section-padding-on-desktop: 64px;
$section-padding-on-phone: 32px;

body {
  font-family: 'Roboto Slab', serif;
  color: rgba($color-white, .67);
  background-color: $color-navy;
  -webkit-font-smoothing: antialiased;

  &:after {
    content: ' ';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 8px;
    background-color: $color-red;
  }
}

//
// Links
//

a,
a:visited,
a:active {
  color: $color-light-blue;
  text-decoration: none;

  &:hover {
    color: lighten($color-light-blue, 10%);
    text-decoration: underline;
  }

  // Align the icon with the text.
  > .material-icons {
    vertical-align: middle;
  }
}

//
// Text spacing
//

@for $i from 1 through 4 {
  $space: $i * 8;

  hr.space-#{$space} {
    margin: 0;
    height: #{$space}px;
    // background-color: rgba(#fff, .5);
    background-color: transparent;
    border: none;
  }
}

//
// Banner
//

hr.title-line {
  margin: 0 auto;
  width: 320px;
  height: 8px;
  background-color: $color-red;
  border: none;

  @include on-phone() {
    & {
      width: 240px;
    }
  }
}

//
// Banner
//

.banner {
  display: flex;
  margin-bottom: $section-padding-on-desktop;
  padding: 0 32px;
  height: 800px;
  text-align: center;
  background-image: url(/images/ui/sailboat-1200x800.jpg);
  background-size: cover;
  background-position: center -100px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 250ms;

  &.is-visible {
    opacity: 1;
  }

  @include on-phone() {
    margin-bottom: $section-padding-on-phone;
  }
}

.banner-body {
  margin: auto;
}

h1.banner-body__name {
  margin: -9px 0 -7px;
  padding: 0;
  line-height: 64px;
  font-size: 64px;
  font-weight: normal;
  color: $color-white;

  @include on-phone() {
    & {
      font-size: 48px;
      line-height: 48px;
    }
  }
}

.banner-body__preface,
.banner-body__dates {
  margin: -8px 0 -8px;
  line-height: 40px;
  font-size: 32px;
  font-weight: 300;
  color: rgba($color-white, .67);

  @include on-phone() {
    & {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

//
// Banner navigation
//

.banner-menu,
.banner-menu--on-phone {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  > a.banner-menu__link {
    display: inline-block;
    padding: 8px 24px;
    line-height: 56px;
    font-size: 16px;
  }
}

@include on-phone() {
  // When viewing on a phone,
  // .banner-menu becomes a toggled menu.

  .banner-menu {
    bottom: 56px;
    padding: 0 16px;
    text-align: center;
    background-color: rgba($color-navy, .75);
    opacity: 0;
    transition: opacity 250ms;

    &.is-visible {
      opacity: 1;
    }

    // Add line at the bottom.
    &::after {
      content: ' ';
      display: block;
      margin: 8px auto 0;
      width: 240px;
      height: 2px;
      background-color: $color-red;
    }

    > a.banner-menu__link {
      display: inline-block;
      padding: 0 24px;
      line-height: 40px;
      font-size: 16px;
    }
  }
}

.banner-menu--on-phone {
  display: none;

  @include on-phone() {
    & {
      display: block;

      > a.banner-menu__link {
        line-height: 40px;
      }
    }
  }
}

//
// Section
//

section {
  padding: $section-padding-on-desktop 16px;

  @include on-phone() {
    padding: $section-padding-on-phone 16px;
  }
}

.section-body {
  margin: 0 auto;
  max-width: 600px;

  h2 {
    margin: -12px 0 -12px;
    text-align: center;
    line-height: 48px;
    font-size: 32px;
    font-weight: normal;
  }

  p {
    margin: -3px 0 -5px;
    padding: 0;
    line-height: 24px;
    font-size: 16px;
  }
}
